# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Chris Pearce
	email = christopher.james.pearce@gmail.com
[alias]
	s = status
	l = log
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	version = HTTP/1.1
